
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    margin-top: auto;
}



@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}
